body {
       background-color: lightblue;
     }

h1 {
color: navy;
margin-left: 20px;
}
  	img {
  		    float: left;
  			width: 100%;
 			height: 100%;
 		}

    div {
          float: left;
          width:50%;
          height:700px;
          padding: 0px;
          background: violet;
          box-sizing: border-box;
    	}

     .first{
     	    background-color: grey;
     	   }

     .second{
     	    background-color: skyblue;
     	    }

          fieldset {
            display: block;
            margin-left: 80px;
            margin-right: 2px;
            padding-top: 0.35em;
            padding-bottom: 0.625em;
            padding-left: 0.75em;
            padding-right: 0.75em;
            border: 2px groove (internal value);
          }